body {
    /* seems that this image cannot find in another folder with relative path */
    background-image: url(slider-background-2.jpg);
    background-size: cover;
}
* {
    text-align: center;
}
h1{
    color: #93002D;
    border: 5px solid rgba(64, 120, 224, 0.5);
    cursor: pointer;
}
/* h1{
    color: blue;
    border: 5px solid rgba(64, 120, 224, 0.5);
    cursor: pointer;
} */

img {
    width: 200px;
    height: 200px;
    margin: 5px;
}